<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
            name="ChemineeDB"
            connectionString="Server=mauvechemineeposeur.ddns.net;Database=tennis;User ID=sa;Password=&lt;Minecraft123&gt;;Encrypt=no;MultipleActiveResultSets=true"
            providerName="Sql.Data.SqlClient"
        />
	</connectionStrings>
</configuration>